@using MvcKütüphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

 <h2>Yazarlar</h2>
<br />

<table class="table table-striped">
    <tr >
        <th>Yazar Id</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyadı</th>
        @*<th>Açıklama</th>*@
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Yazar Kitapları</th>
    </tr>

    @foreach(var y in Model)
    {
    <tr>
        <td>@y.ID</td>
        <td>@y.AD</td>
        <td>@y.SOYAD</td>
        @*<td>@y.DETAY</td>*@
        <td>@Html.ActionLink("Sil", "YazarSil", new { id = y.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Bu Yazarı Silmek İstiyor musunuz?')" })</td>
        <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success">Güncelle</a> </td>
        <td><a href="/Yazar/YazarKitaplar/@y.ID" class="btn btn-light" style="background-color:lightskyblue ; color:white">Yazarın Kitapları</a> </td>


    </tr>
    }
</table>
<a class="btn btn-primary" href=" /Yazar/YazarEkle/">Yeni Yazar Ekle</a>
<br />
<br />
